* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
body {
  background-color: hsl(229, 57%, 11%);
  background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50vh;
  display: flex;
  min-height: 100vh;
  align-items: center;
}
main {
  min-height: 21vh;
  min-width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
section {
  background-color: hsl(228, 56%, 26%);
  padding: 40px;
}
.left {
  padding-right: 120px;
  border-radius: 10px 100px 10px 10px;
}
img {
  margin-bottom: 30px;
}

.left i {
  padding: 10px;
  background-color: hsl(229, 57%, 11%);
  color: hsl(228, 46%, 67%);
  border-radius: 10px;
  font-size: 1.6rem;
  margin-right: 10px;
}
.right {
  height: 17vh;
  width: 58%;
  color: hsl(243, 100%, 93%);
  border-radius: 10px;
  align-self: flex-end;
}
.slider {
  width: 100%;
  min-height: 1.7vh;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  margin: 1.5vh 0 1vh;
  display: flex;
  align-items: center;
}
.inner-slider {
  width: 75%;
  height: 1.2vh;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 10px;
  margin-left: 2px;
  position: relative;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 30%;
}
.data {
  display: flex;
  justify-content: space-between;
}
span {
  font-weight: 700;
  font-size: 0.9rem;
}
.box {
  width: 35%;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px 10px 0 10px;
  position: relative;
  top: -16vh;
  left: 65%;
}
.box p {
  font-weight: 700;
}
.box span {
  font-size: 2rem;
  color: hsl(229, 57%, 11%);
}
.box::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #ffff transparent transparent;
  bottom: -19px;
  left: 86.5%;
}
@media (max-width: 375px) {
  body {
    background-image: url(./images/bg-mobile.png);
    background-position-y: 0;
    background-position-x: 10%;
  }
  main {
    flex-direction: column;
  }
  .right {
    margin-top: 30px;
    width: 100%;
  }
  .circle {
    left: 64%;
  }
  .box {
    border-bottom-right-radius: 10px;
    width: 70%;
    top: 10px;
    left: 0;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
  }
  .box::after {
    display: none;
  }
}
